In [29]:
import pandas as pd

In [42]:
df = pd.read_csv("/home/duke/PSMSA/HBLData.csv")

In [43]:
df.set_index('Date', inplace=True)
df.head()

               Price    Open    High     Low     Vol. Change %
Date
May 30, 2019  123.51  124.43  125.97  122.25    1.84M   -1.03%
May 29, 2019  124.80  122.97  125.99  122.97    1.47M    1.22%
May 28, 2019  123.30  126.74  127.00  122.00    2.87M   -2.76%
May 27, 2019  126.80  126.00  127.99  125.00  575.80K    0.42%
May 24, 2019  126.27  127.13  128.48  125.51    3.29M   -0.68%

In [45]:
#now we have the dates and the OHLC values plus the Change of one company, we can now use tweepy to analyze 
#sentiment through twitter OR find a way to analyse financial statements (the pictures and different formatting 
#is what makes this seemingly trivial task hard)
import tweepy