In [73]:
import csv, time, lxml, json, requests
import pandas as pd
from pandas.io.json import json_normalize
import bs4 as bs
import urllib3 as urllib

Base_url = "http://www.pkfinance.info"
 
# Build a dictionary of companies and their abbreviated names 
companies = {'Habib Bank Limited':'HBL', 'Engro Chemical':'ENGRO'}
             
# Create a list of the news section urls of the respective companies 
url_list = ['https://pkfinance.info/kse/stock/{}?tb=true'.format(v) for k,v in companies.items()]

print(url_list)

['https://pkfinance.info/kse/stock/HBL?tb=true', 'https://pkfinance.info/kse/stock/ENGRO?tb=true']

In [68]:
import json
url = 'http://www.scstrade.com/stockscreening/SS_CompanySnapShotHP.aspx/chart'
payload = {"par":"HBL","date1":"01/01/2019","date2":"06/01/2019","rows":20,"page":1,"sidx":"trading_Date","sord":"desc"}

json_data = requests.post(url, json=payload).json()
#print(json.dumps(json_data, indent=4))

In [69]:
json_normalize(json_data)
df = pd.DataFrame(json_data)

In [70]:
df = pd.io.json.json_normalize(json_data['d'], errors='ignore')

In [71]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Change']
df.set_index(['Date'], inplace=True)

In [67]:
df.head()

                         Open    High     Low   Close   Volume  Change
Date
/Date(1559156400000)/  124.43  125.97  122.25  123.51  1838900   -0.92
/Date(1559070000000)/  122.97  125.99  122.97  124.43  1465100    1.47
/Date(1558983600000)/  126.74  127.00  122.00  122.96  2868700   -3.78
/Date(1558897200000)/  126.00  127.99  125.00  126.74   575800    0.47
/Date(1558638000000)/  127.13  128.48  125.51  126.27  3292600   -0.86